In [2]:
print("Ashik Mathews ST1001 ashikmathews555@gmail.com")

Ashik Mathews ST1001 ashikmathews555@gmail.com

In [4]:
print("Ashik Mathews\nST1001\nashikmathews555@gmail.com")

Ashik Mathews
ST1001
ashikmathews555@gmail.com

In [6]:
num1 = 14
num2 = 7
print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} * {num2} = {num1 * num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} / {num2} = {num1 / num2}")

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2.0

In [8]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [10]:
print('"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".')

"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

In [12]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")  # Octal representation
print("\x65")  # Hexadecimal representation
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [14]:
num = 23
textnum = "57"
decimal = 98.3
print(type(num))
print(type(textnum))
print(type(decimal))
total_sum = num + int(textnum) + decimal
print("Sum:", total_sum)
print("Type of sum:", type(total_sum))

<class 'int'>
<class 'str'>
<class 'float'>
Sum: 178.3
Type of sum: <class 'float'>

In [16]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60
total_minutes = days_in_year * hours_in_day * minutes_in_hour
print(f"The total number of minutes in a year is {total_minutes}.")

The total number of minutes in a year is 525600.

In [18]:
name = input("Please enter your name: ")
print(f"Hi {name}, welcome to Python programming :)")

Please enter your name:  Ashik Mathews

Hi Ashik Mathews, welcome to Python programming :)

In [20]:
pounds = float(input("Please enter amount in pounds: £"))
conversion_rate = 1.25  
dollars = pounds * conversion_rate
print(f"£{pounds} are ${dollars:.2f}.")

Please enter amount in pounds: £ 100

£100.0 are $125.00.