In [2]:

random_numbers = [7, 13, 22, 8, 35]
print("List of 5 random numbers:", random_numbers)

List of 5 random numbers: [7, 13, 22, 8, 35]

In [4]:

random_numbers.extend([12, 25, 44]) 
print("Updated list:", random_numbers)

Updated list: [7, 13, 22, 8, 35, 12, 25, 44]

In [6]:

print("Elements in the list:")
for num in random_numbers:
    print(num)

Elements in the list:
7
13
22
8
35
12
25
44

In [8]:

person_info = {'name': 'John', 'age': 25, 'address': 'New York'}
print("Dictionary:", person_info)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

In [10]:

person_info['phone'] = '9895557987'
print("Updated dictionary:", person_info)

Updated dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '9895557987'}

In [12]:

my_set = {1, 2, 3, 4, 5}
print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

In [14]:

my_set.add(6)
print("Set after adding 6:", my_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

In [16]:

my_set.remove(3)
print("Set after removing 3:", my_set)

Set after removing 3: {1, 2, 4, 5, 6}

In [18]:

my_tuple = (1, 2, 3, 4)
print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4)

In [20]:

print("Length of the tuple:", len(my_tuple))

Length of the tuple: 4